* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 100px auto;
  text-align: center;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  background-color: aqua;
}
