* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

h1 {
  margin: 20px auto;
  text-align: center;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}
